<h1>Form Parameters</h1>
<p>The example will display submitted form parameter and its reverse</p>
<form action="/display" method="post" accept-charset="utf-8">
<input type="text" name="post[sname]" value="Type a string and we will reverse it..." id="sname" /><br />
<input type="submit" value=".. and display it!">
</form>
