<h1>Form Parameters Display</h1>
<p>You had entered:</p>
<p>String - <%= params[:post][:sname] %></p>
<p>Reverse of this string is - <%= params[:post][:sname].reverse %></p>
<p>Click <a href="/">here</a> to try a new name.</p>
